@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  font-family: "SF Mono", monospace;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 700;
}

.markdown-text {
  opacity: 0.4;
  color: darkgray;
}

.content-header {
  display: flex;
  gap: 1rem;
  align-items: center;

  span {
    font-size: 2rem;
    font-weight: 600;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2.75rem;
}
