@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-motion";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100dvh;
  width: 100dvw;
  display: grid;
  place-content: center;
}

@theme {
  --font-geist-mono: "Geist Mono", monospace;
  --font-geist: "Geist", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  --animate-pointing-top-right-md: pointing-top-right-md 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-top-left-md: pointing-top-left-md 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-right-md: pointing-bottom-right-md 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-left-md: pointing-bottom-left-md 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;

  --animate-pointing-top-right-sm: pointing-top-right-sm 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-top-left-sm: pointing-top-left-sm 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-right-sm: pointing-bottom-right-sm 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-left-sm: pointing-bottom-left-sm 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;

  --animate-pointing-top-right-xs: pointing-top-right-xs 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-top-left-xs: pointing-top-left-xs 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-right-xs: pointing-bottom-right-xs 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;
  --animate-pointing-bottom-left-xs: pointing-bottom-left-xs 1.75s
    cubic-bezier(0.87, 0, 0.13, 1) infinite;

  --animate-small-fade-up: small-fade-up 0.3s
    cubic-bezier(0.215, 0.61, 0.355, 1);

  --animate-small-fade-down: small-fade-down 0.3s
    cubic-bezier(0.215, 0.61, 0.355, 1);

  --animate-palette-in: palette-in 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  --animate-palette-out: palette-out 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

  --animate-bg-fade-in: bg-fade-in 0.3s ease forwards;
  --animate-bg-fade-out: bg-fade-out 0.3s ease forwards;

  @keyframes palette-in {
    0% {
      opacity: 0;
      filter: blur(4px);
      transform: translateY(30px) scale(1.1);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) scale(1);
    }
  }

  @keyframes palette-out {
    0% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0) scale(1);
    }
    100% {
      opacity: 0;
      filter: blur(4px);
      transform: translateY(15px) scale(1.05);
    }
  }

  @keyframes bg-fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes bg-fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes small-fade-up {
    0% {
      opacity: 0;
      filter: blur(1px);
      transform: translateY(7px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  @keyframes small-fade-down {
    0% {
      opacity: 0;
      filter: blur(1px);
      transform: translateY(-7px);
    }
    100% {
      opacity: 1;
      filter: blur(0);
      transform: translateY(0);
    }
  }

  @keyframes pointing-top-right-md {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(3px, -3px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-top-left-md {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-3px, -3px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-right-md {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(3px, 3px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-left-md {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-3px, 3px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes pointing-top-right-sm {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-top-left-sm {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-2px, -2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-right-sm {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(2px, 2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-left-sm {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-2px, 2px);
    }
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes pointing-top-right-xs {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(1px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-top-left-xs {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-right-xs {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(1px, 1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  @keyframes pointing-bottom-left-xs {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(-1px, 1px);
    }
    100% {
      transform: translate(0, 0);
    }
  }
}
